extends layout

block content
    .row.clearfix
        .col-lg-4.col-md-4.col-ms-6.col-xs-4
            .info-box.bg-pink.hover-expand-effect
                a.shortcut(href="/worker/docente", title="Ver personal de docencia")
                    .icon
                        i.material-icons school
                .content
                    .text Profesores
                    .number=docenteCount
        .col-lg-4.col-md-4.col-ms-6.col-xs-4
            .info-box.bg-indigo.hover-expand-effect
                a.shortcut(href="/worker/administrativo", title="Ver personal administrativo")
                    .icon
                        i.material-icons work
                .content
                    .text Personal Administrativo
                    .number=administrativoCount
        .col-lg-4.col-md-4.col-ms-6.col-xs-4
            .info-box.bg-orange.hover-expand-effect
                a.shortcut(href="/worker/soporte", title="Ver personal de soporte")
                    .icon
                        i.material-icons mood
                .content
                    .text Personal de soporte
                    .number=soporteCount
        .col-xs-6.col-sm-6.col-md-6.col-lg-6.col-xs-offset-3
            .card
                .body.bg-purple
                    .m-b--35.font-bold Resumen del año 2018
                    ul.dashboard-stat-list
                        li
                            | Enero
                            span.pull-right
                                b 10000
                                small Bs.
                                a(href="/", title="Ver mes de Enero")
                                    i.material-icons trending_up
                        li
                            | Febrero
                            span.pull-right
                                i.material-icons trending_down
                        li
                            | Marzo
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Abril
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Mayo
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Junio
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Julio
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Agosto
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Septiembre
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Octubre
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Noviembre
                            span.pull-right
                                i.material-icons trending_up
                        li
                            | Diciembre
                            span.pull-right
                                i.material-icons trending_up

        .col-xs-6.col-sm-6.col-md-6.col-lg-6.col-xs-offset-3
            .info-box.bg-light-green.hover-expand-effect
                a.shortcut(href="/worker", title="Ver todo el personal")
                    .icon
                        i.material-icons attach_money
                .content
                    .text Total Invertido
                    .number Bs. 20000000